<div id="manual" class="manual">

	<h1><%= title %></h1>
	<p>Where the love falls...</p>
	<br />
	
	<p>Lovetrail is an university project with the goal of visualizing places where important relationship events occur.</p><br />
	<img src="../images/m_trails.png" title="Love trails" alt="Love trail example" /><p>A love trail is a connected list of love events like a <i>first date</i>, 
	an <i> anniversary </i>, <i>valentines day</i> or even a <i>wedding</i>. This shows the path a couple has taken together throughout their relationship. To distinguish 
	trails of different users each has a different color.<br/>
	<b>Feel free to add your own trails...</b><br/>
	To start off, simply search for the location where you met your partner and click on the map. A blue marker appears which when clicked offers a 
	variety of love events to select from. When finished simply press save. <b>Congratulations, you just left your first trail!</b></p> <br/><br/>
	
	<img src="../images/m_list.png" title="Trails list" alt="Trail list icon" /><p>In the trails list you can navigate through your 
	relationship events. By clicking an event name the map immediately centers in on the selected event. If you discover a mistake in your love trail 
	you can delete events by clicking the red <img src="/images/remove.png" title="Remove icon" style="border: 0px; float: none; width:10px;height:10px;" alt="Red X" /> symbol.</p><br/>

	<img src="../images/m_layers.png" title="Layers" alt="Layers icon" /><p>If the existing trails interfere with your own love trail experience, you can hide them
	in the upper right corner of the map. One can (de)select between <i>My trails</i>, <i>All trails</i> or <i>Icons</i>. Additionally a more detailed
	version of the map is available.</p>

</div>
