<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>Login</title>
  </head>
  <body>

  <header>
	<h1>Love Trail</h1>
	<p>Where the love falls...</p>
  </header>	

  <section class="container">
    <div class="login">
      <h1>Login to Love Trail administration</h1>
      <form action="/login" method="post">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
      </form>
    </div>

    <div class="login-help">
      <p>Don't want to login? <a href="/">Click here to go back</a>.</p>
    </div>
  </section>
  </body>
</html>
